/* Keyframes for flashing animation */
@keyframes flash {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
  }
  
  .flashing-text {
    margin-top: auto;
    font-size: 24px; /* Adjust size as needed */
    color: #fb16ff; /* Cyberpunk color */
    animation: flash 1s infinite; /* Apply flashing animation */
    text-shadow: 0 0 5px #fb16ff, 0 0 10px #fb16ff; /* Glow effect */
  }
  